############################################
# Maven
############################################
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

############################################
# Spring Boot – Ignore sensitive files
############################################
# Ignore environment-specific configs (recommended)
src/main/resources/application-test.properties
src/main/resources/application-prod.properties
src/main/resources/application.properties

# If your main application.properties contains secrets
# (not recommended), you can ignore it:
# src/main/resources/application.properties

# Ignore temporary internal folders
src/main/resources/folders/

############################################
# Java Classes to ignore
############################################
# The initializer should NOT be ignored unless you want it excluded from the app
# Remove this unless this file contains secrets
# src/main/java/com/saham/hr_system/initializer/Initializer.java

############################################
# STS (Spring Tool Suite)
############################################
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

############################################
# IntelliJ IDEA
############################################
.idea/
*.iml
*.iws
*.ipr

############################################
# VS Code
############################################
.vscode/

############################################
# NetBeans
############################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

############################################
# OS / Editor junk files
############################################
*.log
*.DS_Store
Thumbs.db
