############################################
# Maven
############################################
target/
**/target/

.mvn/wrapper/maven-wrapper.jar


############################################
# Spring Boot – Ignore sensitive config files
############################################
# Ignore all property files (recommended for security)
**/application.properties
**/application-*.properties

# Ignore temporary custom folders
src/main/resources/folders/


############################################
# IDEs
############################################

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/


############################################
# NetBeans
############################################
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
**/build/


############################################
# OS / Editor Junk Files
############################################
*.log
*.DS_Store
Thumbs.db
